snippet vtemp "vue template"
	<template>
		${1}
	</template>

snippet vscript "vue script"
	<script setup lang="ts">
		${1}
	</script>

snippet vstyle "vue styles"
	<style lang="scss" module>
		${1}
	</style>

snippet vbase "all in one"
	<template>
		${1}
	</template>

	<script setup lang="ts">

	</script>

	<style lang="scss" module>

	</style>
