extends vue

snippet vtemp "vue template"
<template>
	${1}
</template>
endsnippet

snippet vscript "vue script"
<script setup lang="ts">
	${1}
</script>
endsnippet

snippet vstyle "vue styles"
<style lang="scss" module>
	${1}
</style>
endsnippet

snippet vbase "all in one"
<template>
	${1}
</template>

<script setup lang="ts">

</script>

<style lang="scss" module>

</style>
endsnippet


