extends vue

snippet vtemp "vue template"
<template>
	${1}
</template>
endsnippet

snippet vscript "vue script"
<script setup>
	${1}
</script>
endsnippet

snippet vstyle "vue styles"
<style scoped>
	${1}
</style>
endsnippet
